<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ATS_Template.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="HDRadio_AVR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="QC_GPS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ATS_Template.Properties.Settings>
            <setting name="HDRadio_AVR_SFCS_ATS_ATS" serializeAs="String">
                <value>http://t2haproxy_vip.wneweb.com.tw:100/sfcs_webservice/ats.asmx</value>
            </setting>
        </ATS_Template.Properties.Settings>
        <HDRadio_AVR.Properties.Settings>
            <setting name="HDRadio_AVR_SFCS_ATS_ATS" serializeAs="String">
                <value>http://wnc-sfcs-ap.wneweb.com.tw/SFCS_WebService/ats.asmx</value>
            </setting>
        </HDRadio_AVR.Properties.Settings>
        <QC_GPS.Properties.Settings>
            <setting name="QC_GPS_SFCS_ATS_ATS" serializeAs="String">
                <value>http://wnc-sfcs-ap.wneweb.com.tw/SFCS_WebService/ats.asmx</value>
            </setting>
        </QC_GPS.Properties.Settings>
    </applicationSettings>
        <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
        <bindings>
                <basicHttpBinding>
                        <binding name="BasicHttpBinding_ITEService" />
                </basicHttpBinding>
        </bindings>
        <client>
                <endpoint address="http://t2haproxy01.wneweb.com.tw:90/Services/TEService.svc"
                        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITEService"
                        contract="TEServiceClient.ITEService" name="BasicHttpBinding_ITEService" />
        </client>
    </system.serviceModel>
</configuration>
